<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="5.2.14" targetFramework="net45" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net45" />
  <package id="NServiceBus.RavenDB" version="2.2.4" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2952" targetFramework="net45" />
  <package id="ServiceControl.Plugin.Nsb5.Heartbeat" version="1.1.0" targetFramework="net45" />
  <package id="ServiceControl.Plugin.Nsb5.SagaAudit" version="1.0.0" targetFramework="net45" />
</packages>